.photos__intro {
  display: inline-block;
  text-align: center;
  color: @copyblue;
  width: 280px
}

.photos__item img {
  display: block;
}

.photos__author-info {
  background-color: @lightgrey;
  margin-bottom: 20px;
  width: 280px;
}

.photos__author-info--best {
  width: 100%
}

.photos__author-name {
  .text-photos;
  font-weight: bold;
  text-align: center;
}

.photos__time {
  .text-photos;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__text {
  .text-photos;
  min-height: 144px;
}

.photos__likes {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @hover-color;
}

.photos__author-info--last {
  margin-bottom: 0;
}

.photos {
  background-color: @white;
}

.photos__header {
  display: flex;
  justify-content: center;
}

.photos__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


